DataDirect Autonomous REST Connector/.vs/
DataDirect Autonomous REST Connector/DataDirect Autonomous REST Connector/bin/
DataDirect Autonomous REST Connector/DataDirect Autonomous REST Connector/obj/
DataDirect Hive Connector/.vs/
DataDirect Hive Connector/DataDirect Hive Connector/bin/
DataDirect Hive Connector/DataDirect Hive Connector/obj/
